# leading slash means the directory this .gitignore file located in
# slash at end means only match directorys
# and * don't match /

# ignore directories under bundle
/doc/tags
/bundle/
/spell/
/tmp/
/.netrwhist
/spell/
/vimperator/info/
/session/
/neovimfs/
/*.log
*.exe
/src/vundle/vundle
