# leading slash means the directory this .gitignore file located in
# slash at end means only match directorys
# and * don't match /

# ignore directories under bundle
/vimrc
/doc/tags
/bundle/
/spell/
/tmp/
/.netrwhist
.vimrc-rplugin~
/spell/
/session/
/neovimfs/
/*.log
*.exe
/pythonx/__pycache__/
